.wallet_container {
  width: 20vw;
  height: 90vh;
  position: relative;
  background: rgba(252, 252, 252, 0);
  border-radius: 3vw;
  overflow: visible;
  margin: auto;
}

.card_container {
  border: 1px solid black;
  border-radius: 3vw;
  padding: 1vh;
  margin-bottom: 10vh;
  margin-top: 10vh;
  box-shadow: 1px 2px 3px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10rem;
  width: 20rem;
}

.card_top_right {
  flex: 50%;
  text-align: right;
  position: relative;
}

.card_container:hover {
  background-color: blue;
}
