/* nav.module.css */

.link {
  padding-bottom: 0.1vh;
}

.link:focus {
  border-bottom: 3px solid purple;
}

.link:hover {
  border-bottom: 3px solid black;
}

.nav_container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-end;
}

/* `flex flex-row flex-nowrap justify-between` */
