/* nav.module.css */

.nav_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

.nav_logo {
  color: red;
  flex: 1;
}

.nav_links {
  color: blue;
  flex: 1;
  padding-bottom: 0.1vh;
  text-align: center;
  width: 0.1vh;
}

.nav_links a:focus {
  border-bottom: 1px solid black;
}

.nav_links a:hover {
  color: white;
  border-bottom: 1px solid yellow;
}
