.transaction_container {
  width: 20vw;
  height: 90vh;
  height: 100%;
  position: relative;
  background: green;
  border-radius: 3vw;
  overflow: visible;
  border: 1px solid green;
  z-index: 1000;
  margin-left: 11vw;
}

.transactions {
  display: flex;
  flex-flow: column wrap;
  margin: 10px;
  border: 1px solid black;
  max-height: 73px;
  align-content: space-between;
  align-items: flex-start;
}

.transaction_amount {
  align-content: center;
  padding: 3px;
}

.transaction_name {
  flex-grow: 1;
  padding: 3px;
}
