/* nav.module.css */

.nav_container {
  background-color: #e6e9f1;
  width: 44vw;
  margin-left: 21vw;
}

.nav_container div {
  border-bottom: 2px solid transparent;
}

.nav_container div:hover {
  border-bottom: 2px solid black;
  z-index: 1000;
}

.nav_container ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav_container a {
  text-decoration: none;
  font-size: 16px;
}

.nav_container li {
  padding-top: 2rem;
  margin: 1rem;
  height: 3em;
  list-style-type: none;
}
