/* nav.module.css */

.nav_container {
  background-color: #e6e9f1;
}

.nav_container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav_container li {
  padding-top: 2rem;
  margin: 1rem;
  height: 3em;
}

.nav_container a {
  text-decoration: none;
  font-size: 20px;
}

.nav_container a:hover::before {
  content: '\00a0';
  background-color: black;
}
