* {
  box-sizing: border-box;
}

.app_container {
  display: flex;
  background-color: #e8edf6;
  border-radius: 3vw;
  flex-direction: row;
  flex-wrap: wrap;
  width: 99%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  overflow: scroll;
}

.background1 {
  display: flex;
  background-color: red;
  position: absolute;
  width: 90vw;
  height: 90vh;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 3vw;
  background-size: cover;
  margin-top: -45vh;
  margin-left: -45vw;
  top: 50%;
  left: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-end;
  justify-content: flex-end;
}

.background2 {
  display: flex;
  background-color: blue;
  position: absolute;
  width: 99%;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  padding-left: 2%;
  border-radius: 3vw;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-end;
  justify-content: flex-end;
}

.background3 {
  display: flex;
  background-color: green;
  position: absolute;
  width: 99%;
  height: 100%;
  z-index: 3;
  box-sizing: border-box;
  padding-left: 2%;
  border-radius: 3vw;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav {
  z-index: 4;
  position: absolute;
  width: 100%;
  top: -100%;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #99a2c7;
}
